body{
    margin: 0px;
}

#topContainer{
    background-color:pink;
    padding: 10px;
   
}

#logoContainer{
    float: left;
    margin-top: 0px;
    margin-left:0px;
    

    
}
#divd{
  
width: 306px;
float: right;
margin-top: 35px;

   } 
   ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(235, 119, 183);
}

li {
float: left;
}

li a {
display: block;
color: rgb(12, 1, 1);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: rgb(230, 64, 194);
}






.clear{
    clear: both;
}
.div1{
   width: 1349px;
   height: 500px;
   background-image:url("images/cake16.png");
   animation-name: myanimation;
   animation-duration: 6s;
   animation-delay: 3s;
   font-size: 12px;
   animation-iteration-count: infinite;
   
}
@keyframes myanimation{
   0% { background-image: url("images/cake14.png");}
   20% { background-image: url("images/cake15.png");}
   50% { background-image: url("images/cake11.png");}
   75% { background-image: url("images/cake12.png");}
   100% { background-image: url("images/cake13.png");}
}


.middle
{
background-color:FFFF;
height:1250px;
border:1px solid blue;
}
#c1
{
width:25%;
height:1210px;
padding:40px;
background-color:rgb(247, 183, 215);
box-sizing:border-box;
float:left;
border:1px solid white;
}
#c2
{
width:50%;
height:1210px;
padding:40px;
background-color:rgb(226, 126, 176);
box-sizing:border-box;
float:left;
border:1px solid white;
}
#c3
{
width:25%;
height:1210px;
padding:40px;
background-color:rgb(247, 183, 215);
box-sizing:border-box;
float:left;
border:1px solid white;
}
#c2a
{
width:50%;
height:380px;
padding:30px;
background-color:rgb(247, 183, 215);
box-sizing:border-box;
float:left;
border:1px solid white;
}
#c2b
{
width:50%;
height:380px;
padding:30px;
background-color:rgb(247, 183, 215);
box-sizing:border-box;
float:left;
border:1px solid white;
}
body{
    background-color:white;
    }
    .text{
    position:absolute;
    top:55px;
    right:50%;
    transform:translate(50%,-50%);
    text-transform:uppercase;
    font-family:verdana;
    font-weight:700;
    font-size:1.5cm;
    color:white;
    text-shadow:1px 1px 1px #919191,
    1px 2px 1px #570c3a,
    1px 3px 1px #570c3a,
    1px 4px 1px #570c3a,
    1px 5px 1px #570c3a,
    1px 6px 1px #570c3a,
    1px 7px 1px #570c3a,
    1px 8px 1px #570c3a,
    1px 9px 1px #570c3a,
    1px 10px 1px #570c3a,
    1px 18px 6px rgba(122, 22, 60, 0.4),
    1px 22px 10px rgba(119, 15, 72, 0.2),
    1px 25px 35px rgba(131, 20, 76, 0.2),
    1px 30px 60px rgba(136, 25, 90, 0.4);
    
    
    
    }

